* {
    list-style-type: none;
}

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }

}

#logo-landing-page{
    width: 10%;
    height: auto;
}
    #logo-landing-page:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }

.content {
    margin-left:5rem;
    text-align: left;
}

.index-table {
    margin-top: 3rem;
}